*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: rgb(231, 243, 254); */
    background-color:rgb(228, 243, 255);

}

h1{
    text-align: center;
    font-size: 80px;
    margin: 10px;
    color: #e7a452;
}

#container{
    background-color:white;
    border: 5px solid #f2c274;
    border-radius:7px;
    width: 700px;
    height: 700px;
    margin:3px auto;
   
    display: flex;
    flex-direction: column;
}

.gridRow{
    display: flex;
    flex: 1;
}

.gridItem{
    flex:1;
    border: 1px solid rgb(245, 244, 243);
}

button{
    padding: 15px;
    font-size: 25px;
    font-weight: bolder;
    border-radius: 15px;
    display: block;
    width: auto;
    margin:0px auto;
    margin-bottom: 20px;

    background-color:aliceblue;
    border: 3px solid ;
    color:#e7a452;
}

.allBackground{
    width:1000px;
    height: 850px;
    border-radius: 25px;
    margin:50px auto;
    padding: 20px;
    background-color: rgb(201, 220, 226);
}

